
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
	background: linear-gradient(41deg, rgba(67,56,120,1) 0%, rgba(126,96,191,1) 25%, rgb(221, 114, 246) 56%, rgba(255,225,255,1) 95%);
	background-size: 300% 300%;
	background-position: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.todo-wrap {
    width: 700px;
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.edit-btn {
    background-color: #7e60bf;
}
.edit-btn:hover {
    background-color: #7e60bf;
}
.todoHeading{
    font-size: 30px;
    color: #4A4A4A;
    text-align: center;
    margin-bottom: 30px;
}
.input-group {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #6a11cb;
}

#todo-input {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    background: transparent;
}

.input-group button {
    width: 100px;
    height: 100%;
    background-color: #7e60bf;
    color: #fff;
    border: none;
    border-radius: 12px;
    border: 2px solid #6a11cb;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

button:hover {
    background-color: #6a11cb;
}
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
ul li button {
    background-color: #ff4757;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
ul li input{
    border: none;
    outline: none;
    background: transparent;
}
ul li button:hover {
    background-color: #ff6b81;
}
@media (max-width: 600px) {
    #todo-input {
        width: 70%;
    }
    button {
        width: 25%;
    }
}
